* {
  box-sizing: border-box; }

.game {
  text-align: center; }

body {
  background-image: url("../images/background.png");
  background-color: #3d684b;
  height: 100%;
  background-size: cover;
  color: #dadada;
  font-family: Helvetica, sans-serif;
  padding-top: 50px; }
  body > h2 {
    font-weight: 200; }

.deck {
  margin: auto;
  background-image: url("../images/back.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
  text-align: center;
  width: 300px;
  height: 200px;
  position: relative; }

#deck-player:hover {
  cursor: pointer; }

.warzones {
  height: 400px;
  background-color: #00000055;
  padding-top: 50px; }

.warzone {
  height: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap; }

#warzone-opponent {
  padding-left: 60px;
  padding-right: 100px; }

#warzone-player {
  padding-right: 160px; }

.card {
  opacity: 1;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }

.card-bottom {
  animation-delay: 2s;
  opacity: 0;
  -webkit-transform: translate(0, 3em);
  -moz-transform: translate(0, 3em);
  -o-transform: translate(0, 3em);
  -ms-transform: translate(0, 3em);
  transform: translate(0, 3em); }

.card-top {
  opacity: 0;
  -webkit-transform: translate(0, -3em);
  -moz-transform: translate(0, -3em);
  -o-transform: translate(0, -3em);
  -ms-transform: translate(0, -3em);
  transform: translate(0, -3em); }

.discard {
  position: absolute;
  top: 0px;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
  background-color: #00000033;
  width: 200px;
  height: 130px; }
  .discard > img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .discard > img:nth-child(3n+0) {
      transform: rotate(13deg); }
    .discard > img:nth-child(3n+1) {
      transform: rotate(-18deg); }
    .discard > img:nth-child(3n+2) {
      transform: rotate(15deg); }

#discard-opponent {
  left: 240px; }

#discard-player {
  right: 240px; }

.center-pop {
  color: #dadada;
  position: fixed;
  width: 400px;
  height: 160px;
  margin-top: -80px;
  margin-left: -200px;
  background-color: #00000055;
  left: 50%;
  top: 50%;
  text-align: center;
  border-radius: 15px;
  padding-top: 20px; }

#game-over {
  visibility: hidden; }

.btn {
  max-width: 140px;
  padding: 10px;
  margin: auto;
  background-color: #268C63;
  border-radius: 10px;
  cursor: pointer; }
